{% if data is not empty %}
    <span class="ui {{ ('app.admin.ui.modules.profile.betcity.enum_colors.gender.' ~ data.value) | trans }} label">
        {{ ('app.admin.ui.modules.profile.betcity.enums.gender.' ~ data.value)|trans }}
    </span>
{% endif %}